# Example usage
#
#  group {
#    "root":
#      provider => gpasswd,
#      ensure   => present,
#      gid      => "0",
#      members  => [
#        "marut",
#        "blkperl",
#        "finch",
#        "nibz",
#     ];
#  }
#
